/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Switzer";
  color: #1a1a2e;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 186px;

  -moz-osx-font-smoothing: grayscale;
}

body:has(.home-header) {
  padding-top: 0;
}

body.case-study-page {
  padding-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}
