.menu {
  background-color: #080927;
  width: 100%;
  min-width: 402px;
  height: 874px;
  position: relative;
}

.menu .frame {
  display: flex;
  flex-direction: column;
  width: 402px;
  align-items: flex-start;
  position: absolute;
  top: calc(50.00% - 157px);
  left: calc(50.00% - 201px);
}

.menu .frame-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.menu .div {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  display: flex;
  padding: 30px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-color: #ffffff;
}

.menu .frame-2 {
  display: flex;
  width: 342px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.menu .text-wrapper {
  position: relative;
  width: 305px;
  margin-top: -1.00px;
  font-family: "Switzer Variable-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.menu .plus {
  position: relative;
  width: 24px;
  height: 24px;
}

.menu .vector {
  position: absolute;
  width: 58.33%;
  height: 0;
  top: 45.83%;
  left: 16.67%;
}

.menu .text-wrapper-2 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Switzer Variable-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.menu .frame-3 {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 30px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-color: #ffffff;
}

.menu .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -0.50px;
  font-family: "Switzer Variable-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.menu .img {
  position: absolute;
  width: 0;
  height: 58.33%;
  top: 16.67%;
  left: 45.83%;
}

.menu .text-wrapper-4 {
  position: relative;
  width: 313px;
  margin-top: -0.50px;
  font-family: "Switzer Variable-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.menu .text-wrapper-5 {
  position: relative;
  width: 304px;
  margin-top: -0.50px;
  font-family: "Switzer Variable-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.menu .group {
  position: absolute;
  width: 36.28%;
  height: 9.15%;
  top: 13.16%;
  left: 31.84%;
  aspect-ratio: 1.82;
}

.menu .group-2 {
  position: absolute;
  width: 34.94%;
  height: 49.60%;
  top: 0;
  left: 32.53%;
}

.menu .vector-2 {
  position: absolute;
  width: 46.31%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu .vector-3 {
  position: absolute;
  width: 46.72%;
  height: 100%;
  top: 0;
  left: 53.28%;
}

.menu .vector-4 {
  position: absolute;
  width: 11.07%;
  height: 22.26%;
  top: 77.73%;
  left: 0;
}

.menu .vector-5 {
  position: absolute;
  width: 11.51%;
  height: 22.26%;
  top: 77.73%;
  left: 25.29%;
}

.menu .vector-6 {
  position: absolute;
  width: 11.70%;
  height: 21.84%;
  top: 77.73%;
  left: 38.49%;
}

.menu .vector-7 {
  position: absolute;
  width: 11.68%;
  height: 21.84%;
  top: 78.16%;
  left: 61.42%;
}

.menu .vector-8 {
  position: absolute;
  width: 11.51%;
  height: 22.26%;
  top: 77.73%;
  left: 88.49%;
}

.menu .vector-9 {
  position: absolute;
  width: 0;
  height: 5.28%;
  top: 78.16%;
  left: 59.56%;
}

.menu .vector-10 {
  position: absolute;
  width: 12.12%;
  height: 28.96%;
  top: 71.04%;
  left: 74.76%;
}

.menu .vector-11 {
  position: absolute;
  width: 13.59%;
  height: 21.41%;
  top: 78.16%;
  left: 11.65%;
}

.menu .vector-12 {
  position: absolute;
  width: 8.69%;
  height: 26.48%;
  top: 73.18%;
  left: 51.17%;
}

.menu .frame-4 {
  display: flex;
  width: 402px;
  height: 67px;
  align-items: center;
  justify-content: flex-end;
  padding: 4px 15px 0px 25px;
  position: fixed;
  top: -2px;
  left: 0;
}

.menu .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.menu .x {
  position: relative;
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
}

.menu .vector-13 {
  position: absolute;
  width: 50.00%;
  height: 50.00%;
  top: 21.67%;
  left: 21.67%;
}
/* Original CSS code should be injected here */

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
}

.menu details {
  width: 100%;
}

.menu summary {
  cursor: pointer;
  user-select: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu summary::-webkit-details-marker {
  display: none;
}

.menu summary:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.menu .x {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .x:hover {
  opacity: 0.8;
}

.menu .text-wrapper-2 {
  color: inherit;
  text-decoration: none;
  display: block;
}

.menu .text-wrapper-2:hover {
  opacity: 0.8;
}

.menu .text-wrapper-2:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.menu details[open] .plus img:first-child {
  display: block;
}

.menu details:not([open]) .plus img:first-child {
  display: none;
}
