.privacy-content {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  margin-bottom: var(--spacing-20);
}

.privacy__title {
  font-size: var(--text-80);
  font-weight: var(--font-semibold);
  color: var(--primary-red);
  margin-bottom: var(--spacing-6);
}

.privacy__meta {
  margin-bottom: var(--spacing-6);
}

.privacy__subtitle {
  font-size: var(--text-24);
  font-weight: var(--font-semibold);
  color: var(--primary-navy-secondary);
  margin-bottom: 20px;
}

.privacy__date {
  font-size: 18px;
  color: var(--black);
  font-weight: var(--font-normal);
  margin-bottom: 20px;
  margin-top: 20px;
}

.privacy__intro {
  font-size: var(--text-24);
  color: var(--black);
  margin-bottom: 40px;
  font-weight: var(--font-normal);
}

.privacy__block {
  margin-bottom: 50px;
}

.privacy__block h2 {
  font-size: var(--text-24);
  font-weight: var(--font-semibold);
  color: var(--primary-navy-secondary);
  margin-bottom: 20px;
}

.privacy__block p {
  font-size: 18px;
  font-weight: var(--font-normal);
  color: var(--black);
}

.privacy__block ul {
  list-style: disc;
  padding-left: var(--spacing-8);
  margin-bottom: 20px;
}

.privacy__block li {
  font-size: 18px;
  font-weight: var(--font-normal);
  color: var(--black);
  margin-bottom: 2px;
}

.privacy__block li strong {
  color: var(--black);
}
