.frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.frame .div {
  display: inline-flex;
  gap: 1246px;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .img {
  position: relative;
  width: 399px;
  height: 399px;
  aspect-ratio: 1;
}

.frame .div-2 {
  display: flex;
  gap: 803px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .young-programmers {
  position: relative;
  width: 403px;
  height: 399px;
  aspect-ratio: 1.01;
  object-fit: cover;
}

.frame .div-3 {
  display: flex;
  width: 724px;
  gap: 56px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .div-4 {
  display: flex;
  width: 696px;
  gap: 50px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .when-the-EU {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Switzer Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .side-view-of-girl {
  position: relative;
  width: 694px;
  height: 457px;
  aspect-ratio: 1.52;
}

.frame .div-5 {
  display: flex;
  gap: 36px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .building-trust-in {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Switzer Variable-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .integrityalert-ai-is {
  width: 690px;
  position: relative;
  font-family: "Switzer Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-6 {
  display: flex;
  width: 692px;
  gap: 36px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .text-wrapper {
  position: relative;
  width: 676px;
  margin-top: -1.00px;
  font-family: "Switzer Variable-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  position: relative;
  align-self: stretch;
  font-family: "Switzer Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-7 {
  display: flex;
  width: 691px;
  gap: 40px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
/* Original CSS code should be injected here */

.frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.frame .div {
  display: inline-flex;
  gap: 1246px;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .img {
  position: relative;
  width: 399px;
  height: 399px;
  aspect-ratio: 1;
}

.frame .div-2 {
  display: flex;
  gap: 803px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .young-programmers {
  position: relative;
  width: 403px;
  height: 399px;
  aspect-ratio: 1.01;
  object-fit: cover;
}

.frame .div-3 {
  display: flex;
  width: 724px;
  gap: 56px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .div-4 {
  display: flex;
  width: 696px;
  gap: 50px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .when-the-EU {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Switzer Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .side-view-of-girl {
  position: relative;
  width: 694px;
  height: 457px;
  aspect-ratio: 1.52;
}

.frame .div-5 {
  display: flex;
  gap: 36px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .building-trust-in {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Switzer Variable-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .integrityalert-ai-is {
  width: 690px;
  position: relative;
  font-family: "Switzer Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-6 {
  display: flex;
  width: 692px;
  gap: 36px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .text-wrapper {
  position: relative;
  width: 676px;
  margin-top: -1.00px;
  font-family: "Switzer Variable-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  position: relative;
  align-self: stretch;
  font-family: "Switzer Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-7 {
  display: flex;
  width: 691px;
  gap: 40px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
